<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".SumanjeetScreen"
            android:exported="false"
            android:label="@string/title_activity_sumanjeet_screen"
            android:theme="@style/Theme.Gurukul" />
    </application>

</manifest>